.scroll-float {
  overflow: hidden;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.scroll-float-text {
  display: inline-block;
  font-size: inherit;
  font-weight: inherit;
  text-align: center;
  line-height: inherit;
  letter-spacing: inherit;
  color: inherit;
  font-family: inherit;
}

.char {
  display: inline-block;
}
